<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="nav">
        <h3><a href="/books">Books</a></h3>
        <h3><a href="/authors">Authors</a></h3>
        <h3><a href="/publisher">Publisher</a></h3>
        <h3><a href="/customer">Customer</a></h3>
        <h3><a href="/cart">Cart</a></h3>
        <h3><a href="/warehouse">Warehouse</a></h3>
    </div>
    
