<%- include('../includes/head.ejs')%>


<div class="content">
    <h1>Your Cart : </h1>
    <div>
        <ul>
            <% for (product of cart) { %>
            <hr/>
            <li>
                <p><%= product.productId.name  %></p>
                <p>Quantity : <%= product.quantity %></p>    
            </li>
            <hr/>
            <% } %>
        </ul>
    </div>
</div>

<%- include('../includes/end.ejs')%> 

