<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="auth-form">

    <% if (errorMessage) { %>
        <div class="alert alert-secondary" role="alert">
            <%= errorMessage %>
        </div>
    <% } %>

    <form action="/reset" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>

</div>


<%- include('../includes/end.ejs')%>