<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="css/util.css">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/local.js"></script>
    
</head>
<body>
    <nav class="nav">
        <div class="container">
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="/products" class = "<%= path === '/products' ? 'active' : '' %>">Products</a></li>
                    <li><a href="/admin" class="<%= path === '/admin' ? 'active' : '' %>" >Admin</a></li>
                    <li><a href="/add-complaint" class="<%= path === '/add-complaint' ? 'active' : '' %>">Complaints</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
    <br>